@use "./typography" as *;

$ff400: "Roboto";
$ff700: "Roboto Bold";
$Tomato-clr: hsl(4, 100%, 67%);
$Error-bg-clr: hsl(4, 100%, 67%, 0.2);
$Slate-clr: hsl(234, 29%, 20%);
$Charcoal-clr: hsl(235, 18%, 26%);
$Grey-clr: hsl(231, 7%, 60%);
$White-clr: hsl(0, 0%, 100%);
